<p>
<a href="https://github.com/bulbik2000/Student-Management-System-spring" class="link-secondary">Github link</a>
</p>

<hr>

<h2>Temat</h2>
<p>System obsługi student&oacute;w</p>
<h2>Cel</h2>
<h2>Celem projektu było zaprojektowanie aplikacji webowej umożliwiającej przygotowywanie oferty dydaktycznej (kierunki, kursy, oceny, prowadzący), obsługę toku studi&oacute;w (kursy, oceny) wszystkich rodzaj&oacute;w i poziom&oacute;w (jednolite, magisterskie, podyplomowe) itd., itp.</h2>
<h3>&nbsp;</h3>
<p><strong>Opisanie&nbsp;</strong></p>
<p>System Obsługi Student&oacute;w jest oprogramowaniem do zarządzania i udostępniania danych (informacji) związanych ze studiowaniem, służącym wszystkim prowadzącym, studentom oraz administracji. System ten umożliwia m.in. zdalne załatwianie spraw związanych z tokiem studi&oacute;w, w kt&oacute;rych w tradycyjnej formie musiały pośredniczyć dziekanaty oraz inne instytucje. Do przygotowania oferty dydaktycznej w bazie powinna znajdować się informacja o:</p>
<p>&bull;&nbsp;prowadzących i studentach</p>
<p>&bull;&nbsp;kierunkach i ich kursach</p>
<p>&bull;&nbsp;ocen student&oacute;w</p>
<p>Dla student&oacute;w system jest zbiorem informacji, kt&oacute;ry gwarantuje dostęp do kurs&oacute;w i sprawdzenie uzyskanych ocen z egzamin&oacute;w. Dane osobowe każdego studenta mogą zostać zaimportowane z przez każdego użytkownika, kt&oacute;ry ma uprawnienia pracownika uczelni albo administratora. Jest możliwość dodawania wielu student&oacute;w na raz za pomocą tabel CSV.</p>
<p>W systemie znajduje się także aktualna oferty dydaktyczne uczelni.&nbsp;</p>
<h3>&nbsp;</h3>
<p><strong>Zakres</strong></p>
<p>Aplikacja umożliwia gromadzenie, wyszukiwanie, czytelne prezentowanie danych dotyczącej kierunk&oacute;w, kurs&oacute;w oraz student&oacute;w uczelni.</p>
<p>&nbsp;</p>
<p><strong>Użyte technologie</strong></p>
<p>Decyzja o użyciu przedstawionych poniżej technologii w implementacji aplikacji padła gł&oacute;wnie ze względu na zainteresowania autora projektu. Dodatkowym czynnikiem determinującym wyb&oacute;r technologii była licencja określająca sposoby możliwej dystrybucji produkt&oacute;w. Autorowi zależało na tym aby używać rozwiązań:&nbsp;</p>
<p>&middot;&nbsp; &nbsp; &nbsp;&nbsp;og&oacute;lnodostępnych</p>
<p>&middot;&nbsp; &nbsp; &nbsp;&nbsp;popularnych</p>
<p>&middot;&nbsp; &nbsp; &nbsp;&nbsp;darmowych</p>
<p>&middot;&nbsp; &nbsp; &nbsp;&nbsp;o otwartym kodzie źr&oacute;dłowym</p>
<p>&middot;&nbsp; &nbsp; &nbsp;&nbsp;mających społeczność wzajemnie sobie pomagających użytkownik&oacute;w</p>
<p>&nbsp;</p>
<p>Wyżej wymienione cechy gwarantują szybkie rozwiązywanie ewentualnych problem&oacute;w. Co więcej produkty tego typu są aktywnie i dynamicznie rozwijane co dobrze rokuje na dalszy rozw&oacute;j aplikacji. Poniżej znajduje się lista z technologiami realizującymi poszczeg&oacute;lne warstwy aplikacji.</p>
<ul>
    <li>Spring Boot&nbsp;</li>
    <li>Spring Data</li>
    <li>Spring Security</li>
    <li>Spring WebSocket</li>
    <li>Twitter Bootstrap</li>
    <li>MySql</li>
    <li>Angular</li>
</ul>
<h2>Użytkownicy&nbsp;i uprawnienia</h2>
<p>&middot;&nbsp; &nbsp; &nbsp;&nbsp;Gość &ndash; rejestracja oraz logowanie do systemu.</p>
<p>&middot;&nbsp; &nbsp; &nbsp;&nbsp;Student &ndash;&nbsp;przeglądanie swoich kurs&oacute;w (ocen wystawionych za te kursy), przeglądanie kurs&oacute;w na kt&oacute;re student musi zapisać się (możliwość zapisywania się na te kursy), przeglądanie kurs&oacute;w przyszłych semestr&oacute;w oraz historii zaliczeń poprzednich semestr&oacute;w, otrzymywanie komunikat&oacute;w o wystawieniu ocen, zapisywania się na kurs albo wypisywania się z kursu, edycja swoich danych.</p>
<p>&middot;&nbsp; &nbsp; &nbsp;&nbsp;Pracownik uczelni (prowadzący) &ndash; zapisywanie student&oacute;w na kursy oraz wypisywanie, wystawienie zaliczeń oraz ich edycji.</p>
<p>&middot;&nbsp; &nbsp; &nbsp;&nbsp;Administrator &ndash; dodawanie, edycja, usuwanie kurs&oacute;w, kierunk&oacute;w, student&oacute;w, nadawanie uprawnień użytkownikom systemu oraz uprawnienia użytkownik&oacute;w wymienione wyżej.</p>
<p><strong>Elementy zrealizowane podczas tego kursu</strong></p>
<ul>
    <li>UI</li>
    <li>Logowanie i rejestracja</li>
    <li>CRUD operacje dla kierunk&oacute;w, kurs&oacute;w, student&oacute;w.</li>
    <li>Nadawanie uprawnień użytkownikom</li>
    <li>Zapisywanie się na kursy oraz wypisywanie się</li>
    <li>Wystawienie ocen</li>
    <li>Wysyłanie komunikat&oacute;w o wystawieniu oceny oraz o zapisywaniu albo wypisywaniu na kursy</li>
    <li>Dodawanie wielu student&oacute;w oraz utworzenie wielu kont użytkownik&oacute;w na raz</li>
    <li>Możliwość reklamacji komunikatu o ocenie</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p><strong>Efekty końcowe&nbsp;</strong></p>
<p>Implementacja pozwoliła mi dokładnie poznać wiele nowoczesnych technologii. Dała też doświadczenie, kt&oacute;re będę m&oacute;gł wykorzystać w kolejnych projektach w trakcie mojej dalszej edukacji i kariery zawodowej. Czas poświęcony na tę pracę uświadomił mi, jak istotny jest sam proces projektowy i z pewnością wpłynie na lepsze decyzje projektowe podejmowane w przyszłości. Efekt końcowy uznaję za bardzo zadowalający, a samo doświadczenie oceniam jako bezcenne.</p>
<p><strong>&nbsp;</strong></p>